{% extends 'base.html' %} {% block content %}

{% for msg in get_flashed_messages() %}
  <p>{{ msg }}</p>
{% endfor %}

<h1>{{ question.prompt }}</h1>

<form action="/answer" method="POST">
  <!-- you should have one item like this for every choice -->
  {% for choice in choices %}
    <p>
      <input type="radio" name="choice" value="{{ choice }}" />
      {{ choice }}
    </p>
  {% endfor %}

  <input name="question_number" value="{{ question_number }}" type="hidden">
  <input name="total_questions" value="{{ total_questions }}" type="hidden">

  <button>Continue</button>
</form>

{% endblock %}
